html, body {
    font-family: 'HelveticaNeue', Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    font-size: 102%;
    line-height: 1.5;
    margin: 0;
    background: url("../images/background.jpg") no-repeat fixed;
    background-size: cover;
    color: #1f1f1f;
}

a, a:visited, a:link {
    text-decoration: none;
    color: #e98d2f;
    transition: all .2s ease-in-out;
}

a:hover, a:active {
    color: #ab6823;
}

hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(45, 45, 45, 0.5), rgba(0, 0, 0, 0));
    border: 0;
    height: 1px;
    opacity: 0.5;
}

h1 {
    font-size: 100px;
    margin-bottom: 0;
}

.site-content-inner {
    width: 50%;
}

.ir-display-none {
    display: none;
}

.ir-margin-center {
    margin: 0 auto;
}

.ir-clear-both {
    clear: both;
}

/* navigation */

.site-navigation {
    background-color: rgba(242, 146, 49, 0.94);
    height: 65px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 -3px 10px black;
    -webkit-box-shadow: 0 -3px 10px black;
}

ul.navigation-items {
    list-style: none;
    margin: 0 auto;
}

li.navigation-item {
    display: inline;
    padding-left: 12px;
    padding-right: 12px;
    transition: all .2s ease-in-out;
    font-size: 18px;
    float: left;
    height: 65px;
    line-height: 65px;
}

li.navigation-item:hover {
    background-color: #cf5b3e;
}

/* navigation mobile extras are hidden */
li.navigation-item.mobile-nav-hide {
    display: block;
}

li#mobile-nav-opener {
    display: none;
}

/* navigation children */
ul.navigation-items li ul {
    position: absolute;
    width: 15em;
    left: -999em;
    background-color: #cf5b3e;
    text-shadow: none;
    margin-left: -12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.navigation-items li:hover ul {
    left: auto;
}

a.navigation-item-link, a.navigation-item-link:visited, a.navigation-item-link:link{
    color: white !important;
    padding: 20px;
}

.big-navigation-item {
    background-color: transparent !important;
    font-weight: bold;
    font-size: 20px;
    padding-right: 30px !important;
}

/* overlay */

.site-main-overlay {
    background-color: rgba(255, 255, 255, 0.98);
    min-height: 100%;
    min-width: 100%;
}

/* content */

.site-content {
    width: 95%;
    padding-top: 60px;
    text-align: center;
}

.slider-image {
    height: 100%;
    width: 100%;
}

.slider-placeholder {
    width: 940px;
    height: 425px;
}


/* footer */

.site-footer {
    padding: 15px;
}

@media only screen and (min-width: 840px) and (max-width: 1300px) {
    .slider-placeholder {
        width: 600px;
        height: 271px;
    }
}

/* mobile */
@media only screen and (min-width: 150px) and (max-width: 840px) {

    h1 {
        font-size: 60px;
    }

    .site-content-inner {
        width: 90%;
    }

    .slider-placeholder {
        display: none;
    }

    /* mobile nav */
    .site-navigation {
        height: auto;
    }

    li.navigation-item {
        float: none;
        height: auto;
        display: block;
        padding-left: 0;
    }

    ul.navigation-items li ul {
        position: relative;
        width: auto;
        left: auto;
        background-color: transparent;
        margin-left: 0;
    }

    li.navigation-item.mobile-nav-hide {
        display: none;
    }

    li#mobile-nav-opener {
        display: block;
        float: right;
        height: 65px;
        line-height: 65px;
        padding-right: 25px;

        font-size: 25px;
        color: white;
        cursor: pointer;
    }

}