<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -d [OR]
	RewriteCond %{REQUEST_FILENAME} -l
    RewriteRule ^ - [L]

	RewriteRule (.+)\/$ index.php?content-type=$1 [QSA,NC,L]
	RewriteRule (.+)\/(.+) index.php?content-type=$1&content-id=$2 [QSA,NC,L]
</IfModule>