<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /irworksTest/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule (.+)\/(.+) index.php?content-type=$1&content-id=$2 [QSA,NC,L]
</IfModule>